In [1]:
# Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [6]:
dependent = dataset[['charges']]

In [7]:
# Grid Search
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae'],
'max_features': ['auto','sqrt','log2'],
'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)

# fitting the model for grid search
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [13]:
# print best parameter after tuning
# print (grid.best_params_)
re = grid.cv_results_

from sklearn.metrics import r2_score

# Fit the model
grid.fit(independent, dependent)

# Predict on same data
y_pred = grid.predict(independent)

# Compute R²
r_score = r2_score(dependent, y_pred)
print("The R_score value for best parameter {}:".format(grid.best_params_), r_score)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
The R_score value for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9756350491012372

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [9]:
table = pd.DataFrame.from_dict(re)

In [10]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.057756,0.004535,0.010927,0.004339,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.848635,0.771513,0.832482,0.816425,0.822644,0.818340,0.025817,8
1,0.459617,0.028607,0.026663,0.003503,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.845171,0.771766,0.855998,0.820364,0.836464,0.825952,0.029496,5
2,0.042801,0.002681,0.007213,0.001080,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.835053,0.746639,0.867509,0.813444,0.813294,0.815188,0.039592,10
3,0.356741,0.012213,0.026266,0.002674,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.855524,0.773122,0.858199,0.828075,0.840291,0.831042,0.030939,4
4,0.048409,0.007219,0.009325,0.001468,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.844722,0.778336,0.851663,0.826144,0.823107,0.824794,0.025621,6
5,0.390137,0.015295,0.029279,0.005361,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.859063,0.775007,0.856951,0.829209,0.837531,0.831552,0.030465,3
6,0.279071,0.024567,0.009823,0.001284,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.826648,0.742340,0.822764,0.808510,0.826790,0.805411,0.032239,12
7,2.295524,0.050667,0.013417,0.001804,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.835311,0.768297,0.844769,0.828311,0.837270,0.822792,0.027747,7
8,0.182646,0.012212,0.006517,0.001097,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.846361,0.766532,0.841545,0.798713,0.830712,0.816773,0.030112,9
9,1.425347,0.054642,0.020434,0.000494,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.856748,0.779737,0.854394,0.827962,0.843228,0.832414,0.028238,2
10,0.162208,0.010625,0.008918,0.001742,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.829747,0.751635,0.848472,0.792766,0.820846,0.808693,0.033712,11
11,1.133463,0.194225,0.014379,0.003808,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.851536,0.777481,0.856698,0.832436,0.847348,0.833100,0.028961,1

In [11]:
age_input=float(input("Age: "))
bmi_input=float(input("BMI: "))
children_input=float(input("Children: "))
sex_male_input=int(input("Sex Male 0 or 1: "))
smoker_yes_input=int(input("Smoker Yes 0 or 1: "))

Age: 43
BMI: 32
Children: 2
Sex Male 0 or 1: 0
Smoker Yes 0 or 1: 1

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[39842.47190775]